

.display-image {
  max-width: 50vw;
  height: auto;
  margin: 0 auto;
}

.display-image img {
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.no-item-container {
  width: 100%;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.no-item-container img {
  width: 80px;
  height: 80px;
}

.app-content {
  min-height: calc(100vh - 125px);
}